<% breadcrumb :root_show%>

<h1>査定依頼したい都道府県を選択してください</h1>
<div class="card mt-5">
  <div class="card-body">
    <div class="custom-grid">
      <% @prefectures.each do |prefecture| %>
        <div class="col-4">
          <a href="/areas/<%=prefecture.id%>" class="card-link"><%= prefecture.name %></a>
        </div>
      <% end %>
    </div>
  </div>
</div>