<%if @is_bad_status %>
<div id="error_explanation" class="alert alert-danger">
    <div>
        予期せぬエラーが発生しました。
    </div>
    <div>
        申し訳ございませんがしばらくお時間が経過してから再度お試しください。
    </div>
</div>
<%end%>