<div class="card mt-5">
  <h1 class="card-body custom-title">
お問合わせありがとうございました！
  </h1>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/"><p align="right" class="mt-5">HOMEへ</p></a>
</div>

