@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: bold;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin: 30px;
  font-weight: bold;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

  h1 {
    font-size: 2.8em;
    letter-spacing: -2px;
    margin-bottom: 30px;
  }

  .custom-title{
    display:flex;
    justify-content: center;
  }

  .d-flex{
    display:flex;
    position:relative;
  }

  .custom-title h1{
    margin-top: 3%;
    margin-right:10px;
  }

  .side-right{
    position: absolute;
    right:0;
  }

  .w-100{
    width: 100%;
  }

  .card-body{
    margin: 5% 0;
  }

  .f-review-page {
    width:70rem;
    margin-left: 5%;
    margin-bottom: 3%;
    div{
      font-size: 22px;
      padding: 2px;
    }
    table {
      width: 90%; /* 任意の幅を指定 */
      margin-left: 5%;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
      border-right: none;
      border-left: none;
    }
  }